.slider-block
  ul.slick-slider(data-slider, data-arrows='false', data-dots='true')
    li.slider-item
      picture
        +img('roller coaster', 'images/00-numero74-Home_56.jpg')
    li.slider-item
      picture
        +img('roller coaster', 'images/00-numero74-Home_58.jpg')
    li.slider-item
      picture
        +img('roller coaster', 'images/00-numero74-Home_60.jpg')
    li.slider-item
      picture
        +img('roller coaster', 'images/00-numero74-Home_62.jpg')
    li.slider-item
      picture
        +img('roller coaster', 'images/00-numero74-Home_64.png')
    li.slider-item
      picture
        +img('roller coaster', 'images/00-numero74-Home_56.jpg')
    li.slider-item
      picture
        +img('roller coaster', 'images/00-numero74-Home_58.jpg')
    li.slider-item
      picture
        +img('roller coaster', 'images/00-numero74-Home_60.jpg')
    li.slider-item
      picture
        +img('roller coaster', 'images/00-numero74-Home_62.jpg')
    li.slider-item
      picture
        +img('roller coaster', 'images/00-numero74-Home_64.png')
